* {
	margin: 0;
	padding: 0;
	font-family: "PP Mori";
	box-sizing: border-box;
}

body {
	background-color: #e0218a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

h1 {
	color: white;
	font-size: 50px;
	margin-bottom: 20px;
}

.maze_container {
	border: 10px solid black;
	position: relative;
	display: flex;
	flex-direction: column;
	width: max-content;
	height: max-content;
	border-radius: 10px;
}

.row {
	display: flex;
}
.cell {
	width: 50px;
	height: 50px;
	/* border: 1px solid grey; */
	background-color: white;
}
.wall {
	background-color: black;
}
#mouse {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}
#cheese {
	position: absolute;
	bottom: 0;
	right: 0;
}

select {
	width: 150px;
	border-radius: 20px;
	border: none;
	margin-bottom: 20px;
	font-size: 20px;
	padding: 10px 20px;
}

.controls {
	margin-top: 30px;
	border: 6px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.controls .btn {
	display: flex;
	justify-content: center; /* Horizontally center content */
	align-items: center;
	margin: 10px;
	font-weight: bolder;
	border-radius: 12px;
	height: 60px;
	width: 60px;
	background-color: blanchedalmond;
	color: black;
}
